/**
* Description:
* CSS to control style of navbar found in header.php
**/

/*
* Navbar Masthead
*/
.iam-masthead {
  background: rgba(255, 255, 255, 0.8);
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/*
* Navbar Logo
*/
.iam-logo-brand {
  float: left;
  position: relative;
  padding-left: 45px;
  padding-top: 30px;
}

/*
* Nav Links
*/
.iam-nav ul {
  list-style: none;
  float: right;
  padding: 10px;
}

.iam-nav li {
  display: block;
  float: left;
}

.iam-nav li a {
  display: block;
  color: #002E5D;
  text-decoration: none;
  font-family: sans-serif;
  padding: 20px;
}

/*
* Nav style on mouse over
*/
nav li:hover {
  background: #d4d4d4;
}

nav li a:hover {
  color: #FD5111;
}

/*
* Dropdown Content
* Note: class names were made by wordpress
*/
.sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
}

/*
* Links inside the dropdown
*/
.sub-menu a {
  float: none;
  padding: 6px;
  text-decoration: none;
  text-align: center;
}

/*
* Add a grey background color to dropdown links on hover
*/
.sub-menu a:hover {
  background-color: #ddd;
}

/*
* Show the dropdown menu on hover
*/
.menu-item-has-children:hover .sub-menu {
  display: grid;
}
